async-lru==1.0.2
cffi==1.14.5
cryptography==3.4.7
greenlet==1.0.0
psutil==5.8.0
pyaes==1.6.1
pycparser==2.20
PyMySQL==1.0.2
Pyrogram==1.2.8
PySocks==1.7.1
python-dotenv==0.17.0
SQLAlchemy==1.4.7
TgCrypto==1.2.2
